In [1]:
!pip install pymysql mysql-connector-python nltk scikit-learn

Requirement already satisfied: pymysql in c:\users\shree\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: mysql-connector-python in c:\users\shree\anaconda3\lib\site-packages (9.0.0)
Requirement already satisfied: nltk in c:\users\shree\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: scikit-learn in c:\users\shree\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: click in c:\users\shree\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\shree\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\shree\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\shree\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\shree\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\shree\anaconda3\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\shree\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: colorama in c:\users\shree\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [3]:
import pandas as pd

df = pd.read_csv('sample input dataset.csv')
df.head()

,Name,Contact Details,Location,Job Skills,Experience,Projects,Comments,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,John Doe,john.doe@example.com,New York,Java; Big Data; Hadoop,5 years,Developed a big data processing system using H...,Strong problem-solving skills.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jane Smith,jane.smith@example.com,San Francisco,JavaScript; React; Node.js,3 years,Built a real-time chat application using React...,Excellent in team collaboration.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bob Johnson,bob.johnson@example.com,New York,Java; Spring; Microservices,6 years,Implemented a microservices architecture for a...,Proactive and detail-oriented.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alice Brown,alice.brown@example.com,Chicago,Python; Django; Machine Learning,4 years,Created a machine learning model for predictiv...,Strong analytical skills.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Michael Green,michael.green@example.com,Boston,Ruby; Rails; PostgreSQL,7 years,Developed a scalable web application using Rub...,Great leadership qualities.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import mysql.connector

# Connect to MySQL
connection = mysql.connector.connect(host='localhost',
                                         database='candidate',
                                         user='root',
                                         password='Abhishek@1920' )
cursor = connection.cursor()

# Create database if it does not exist
cursor.execute("CREATE DATABASE IF NOT EXISTS profile_matching")
cursor.execute("USE profile_matching")

# Create table
create_table_query = """
CREATE TABLE IF NOT EXISTS candidates (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    skills TEXT NOT NULL,
    experience INT NOT NULL
)
"""
cursor.execute(create_table_query)

# Commit changes
connection.commit()

# Close the cursor
cursor.close()

True

In [6]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# Load the dataset
df = pd.read_csv('sample input dataset.csv')

# Display the column names to ensure they are correct
print(df.columns)

# URL-encode the password
password = quote_plus('Abhishek@1920')

# Create the connection string
connection_string = f'mysql+pymysql://root:{password}@localhost/profile_matching'

# Create a connection to the MySQL database
engine = create_engine(connection_string)

# Load data into the database
df.to_sql('candidates', con=engine, index=False, if_exists='replace')

Index(['Name', 'Contact Details', 'Location', 'Job Skills', 'Experience',
       'Projects', 'Comments', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

120

In [7]:
from urllib.parse import quote_plus
from sqlalchemy import create_engine

# URL-encode the password
password = quote_plus('Abhishek@1920')

# Create the connection string
connection_string = f'mysql+pymysql://root:{password}@localhost/profile_matching'

# Create a connection to the MySQL database
engine = create_engine(connection_string)

# Test connection
try:
    connection = engine.connect()
    print("Connection successful")
    connection.close()
except Exception as e:
    print(f"Connection failed: {e}")

Connection successful

In [8]:
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer

# Download necessary NLTK data
nltk.download('stopwords')
nltk.download('punkt')

def preprocess_text(text):
    tokens = nltk.word_tokenize(text.lower())
    tokens = [token for token in tokens if token.isalnum()]
    tokens = [token for token in tokens if token not in nltk.corpus.stopwords.words('english')]
    return ' '.join(tokens)

# Adjust the column name based on the dataset
df['processed_skills'] = df['Job Skills'].apply(preprocess_text)  # Replace 'Skills' with the actual column name

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Shree\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Shree\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [10]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['processed_skills'])

In [12]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def match_profiles(job_description, top_n=10):
    processed_job_desc = preprocess_text(job_description)
    job_desc_vector = vectorizer.transform([processed_job_desc])
    similarities = cosine_similarity(job_desc_vector, X).flatten()
    top_indices = np.argsort(similarities)[-top_n:][::-1]
    return df.iloc[top_indices]

# Example job description
job_desc = """We are looking for a skilled UI Developer to join our dynamic team. The ideal candidate will have a
strong background in front-end development, with proficiency in HTML, CSS, JavaScript, and modern frameworks
like React or Angular. Your primary responsibility will be to create visually appealing and user-friendly web
interfaces that enhance user experience and align with our brand guidelines."""

# Get top 10 matching profiles
matching_profiles = match_profiles(job_desc)
print(matching_profiles)

               Name            Contact Details          Location  \
17       Grace King     grace.king@example.com     San Francisco
1        Jane Smith     jane.smith@example.com     San Francisco
77       Pam Beesly       pam.beesly@yahoo.com   Los Angeles, CA
118   Daisy Johnson  daisy.johnson@outlook.com     San Diego, CA
70     Hannah Baker   hannah.baker@hotmail.com  Philadelphia, PA
54      Ian Malcolm      ian.malcolm@yahoo.com       Houston, TX
111   Daisy Johnson  daisy.johnson@outlook.com      San Jose, CA
72        Bob Smith      bob.smith@hotmail.com   Los Angeles, CA
59   Oscar Martinez   oscar.martinez@gmail.com   Los Angeles, CA
81    Michael Scott    michael.scott@gmail.com       Chicago, IL

                             Job Skills Experience  \
17         JavaScript; Angular; Node.js    3 years
1            JavaScript; React; Node.js    3 years
77      JavaScript, Python, Java, React    3 years
118  Node.js, Kubernetes, React, Django    2 years
70         Java, React, Kubernetes, SQL    6 years
54         Kubernetes, Ruby, AWS, React   11 years
111                Go, SQL, React, Java   14 years
72         React, Django, Python, Flask   10 years
59    Python, Microservices, SQL, React    9 years
81              Flask, Go, React, Azure    3 years

                                              Projects  \
17   Created a single-page application using Angula...
1    Built a real-time chat application using React...
77                          Cloud infrastructure setup
118                         Microservices architecture
70                          Microservices architecture
54                                  Front-end redesign
111                              Legacy system upgrade
72                          Microservices architecture
59                                     API development
81                                  Front-end redesign

                             Comments  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
17       Great at team collaboration.         NaN         NaN         NaN
1    Excellent in team collaboration.         NaN         NaN         NaN
77           Strong leadership skills         NaN         NaN         NaN
118              Front-end specialist         NaN         NaN         NaN
70             Cloud computing expert         NaN         NaN         NaN
54               Front-end specialist         NaN         NaN         NaN
111          Skilled in microservices         NaN         NaN         NaN
72               Front-end specialist         NaN         NaN         NaN
59             Cloud computing expert         NaN         NaN         NaN
81            Machine learning expert         NaN         NaN         NaN

     ...  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  \
17   ...          NaN          NaN          NaN          NaN          NaN
1    ...          NaN          NaN          NaN          NaN          NaN
77   ...          NaN          NaN          NaN          NaN          NaN
118  ...          NaN          NaN          NaN          NaN          NaN
70   ...          NaN          NaN          NaN          NaN          NaN
54   ...          NaN          NaN          NaN          NaN          NaN
111  ...          NaN          NaN          NaN          NaN          NaN
72   ...          NaN          NaN          NaN          NaN          NaN
59   ...          NaN          NaN          NaN          NaN          NaN
81   ...          NaN          NaN          NaN          NaN          NaN

     Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25  \
17           NaN          NaN          NaN          NaN
1            NaN          NaN          NaN          NaN
77           NaN          NaN          NaN          NaN
118          NaN          NaN          NaN          NaN
70           NaN          NaN          NaN          NaN
54           NaN          NaN          NaN          NaN
111          NaN          NaN          NaN          NaN
72           NaN          NaN          NaN          NaN
59           NaN          NaN          NaN          NaN
81           NaN          NaN          NaN          NaN

                   processed_skills
17               javascript angular
1                  javascript react
77     javascript python java react
118         kubernetes react django
70        java react kubernetes sql
54        kubernetes ruby aws react
111               go sql react java
72        react django python flask
59   python microservices sql react
81             flask go react azure

[10 rows x 27 columns]

In [19]:
if __name__ == "__main__":
    job_desc = input("Enter the job description: ")
    matching_profiles = match_profiles(job_desc)
    print("Top 10 matching profiles:")
    print(matching_profiles[['Name', 'processed_skills', 'Experience']])

Enter the job description: We are looking for a skilled UI Developer to join our dynamic team. The ideal candidate will have a strong background in front-end development, with proficiency in HTML, CSS, JavaScript, and modern frameworks like React or Angular. Your primary responsibility will be to create visually appealing and user-friendly web interfaces that enhance user experience and align with our brand guidelines.
Top 10 matching profiles:
               Name                processed_skills Experience
17       Grace King              javascript angular    3 years
1        Jane Smith                javascript react    3 years
77       Pam Beesly    javascript python java react    3 years
118   Daisy Johnson         kubernetes react django    2 years
70     Hannah Baker       java react kubernetes sql    6 years
54      Ian Malcolm       kubernetes ruby aws react   11 years
111   Daisy Johnson               go sql react java   14 years
72        Bob Smith       react django python flask   10 years
59   Oscar Martinez  python microservices sql react    9 years
81    Michael Scott            flask go react azure    3 years